name: Docker Build & Push CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları Çek
        uses: actions/checkout@v3

      - name: Docker Buildx Kurulumu
        uses: docker/setup-buildx-action@v2

      # YENİ EKLENEN KISIM: Docker Hub'a Giriş Yap
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # GÜNCELLENEN KISIM: Build ve Push
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true  # Artık true yaptık!
          # Aşağıdaki 'kullaniciadin' kısmını dinamik olarak secret'tan alacak
          tags: ${{ secrets.DOCKER_USERNAME }}/simple-docker-nginx:latest